@font-face {
    font-family: RobotoMono;
    src: url("RobotoMono-Light.ttf")
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

a {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.underlay {
    display: flex;
    flex-direction: row;
    background-color: #303030;
    color: #edeeef;
    font-family: 'RobotoMono';
    font-size: 14pt;
    padding: 20px;
    min-width: 1000px;
    justify-content: center;
}
.inner-block {
    max-width: 1200px;
    min-width: 1000px;
    display: flex;
    flex-direction: column;
}

.upper-block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.photo {
    display: block;
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;
}

img {
    width: 107%;
    margin: -20px 0px;
}

.name-photo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.name {
    font-size: 24pt;
    padding-left: 36px;
    text-transform: uppercase;
    border-left: 1px solid grey;
}

.position .apply {
    padding-left: 30px;
    margin: 0;
}

.sub-title {
    font-size: 20pt;
    display: flex;
    flex-direction: row;
    margin: 3px; 
}

ul {
    list-style-type: none;
}

.apply {
    padding: 0;
    line-height: 30px;
}

.fas, .fab {
    color: #f7612e;
    padding-right: 15px;
    font-size: 16pt;
}

hr {
    border: none;
    height: 2px;
    background-color:#f7612e;
    width: 100%;
    margin: 20px;
}

.skills, .experience, .education {
    padding-left: 40px;
}

.skills .apply li {
    padding-left: 30px;
}
.skills .apply {
    margin: 4px;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.blue {
    color: #4286f4;
}
.red {
    color: #f7612e;
}

.company-info li{
    display: flex;
    flex-direction: row;
    line-height: 30px;
}
